.search {
    cursor: pointer;
    color: #544c48;
    .cart_nav {
        &::-webkit-scrollbar {
            display: none;
        }
        overflow: auto;
        z-index: 99999;
        background: white;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        .close {
            justify-content: right;
            margin: 2em;
            width: 90%;
            margin-top: 0;
            svg {
                width: 3em;
                height: 3em;
                background: #3f4545;
                border-radius: 50%;
                padding: 11px;
                color: white;
                color: white;
                position: fixed;
                right: 1em;
                z-index: 9999;
            }
            .flex {
                flex-basis: 100%;
            }
        }
    }
    input {
        margin: 1em 0;
        background: #161e29;
        padding: 1rem;
        width: 96.25rem;
        height: 5.1875rem;
        color: #ffffffdb;
        font-family: "Proza_Libre";
        letter-spacing: 1px;
        outline: none;
        border: none;
        &::placeholder {
            color: #ffffffdb;
            font-family: "Proza_Libre";
            letter-spacing: 1px;
        }
    }
    .body {
        text-align: -webkit-center;
        .flex_products {
            display: flex;
            column-gap: 3em;
            row-gap: 13em;
            justify-content: center;
            margin-top: 8em;
            flex-wrap: wrap;

            .product {
                width: 40%;
            }
        }
        .load {
            background-color: #161e29;
            color: white;
            font-size: 21px;
            font-family: Patua One;
            font-weight: 400;
            text-transform: capitalize;
            letter-spacing: 0.84px;
            word-wrap: break-word;
            padding: 10px 25px;
            border-radius: 5px;
            outline: 0;
            margin: 3em 0;
            z-index: 9999;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
}
@media screen and (min-width: 365px) and (max-width: 767px) {
    .search .body .flex_products .product {
        width: 100%;
    }
}
